@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="text-center">Miejsca warte odwiedzenia </h1>

<div class="row">
    <div class="col-md-4">
        <a href="Places/Ameryka Południowa">
            <img src="~/images/Brazylia.jpg" class="img-rounded" alt="paryż" height="350" width="320">
        </a>
        <div class="text-center">Ameryka Południowa</div>
    </div>
    <div class="col-md-4">
        <a href="Places/Europa">
            <img src="~/images/Francja.jpg" class="img-rounded" alt="paryż" height="350" width="320"><br />
        </a>
        <div class="text-center">Europa</div>
    </div>
    <div class="col-md-4">
        <a href="Places/Azja">
            <img src="~/images/indie.jpg" class="img-rounded" alt="paryż" height="350" width="320"><br />
        </a>
        <div class="text-center">Azja</div>
    </div>
</div>
<div><br /> </div>
<div class="row">
    <div class="col-md-4">
        <a href="Places/Ameryka Północna">
            <img src="~/images/NowyJork.jpg" class="img-rounded" alt="paryż" height="350" width="320"> <br />
        </a>
        <div class="text-center">Ameryka Północna</div>
    </div>
    <div class="col-md-4">
        <a href="Places/Afryka">
            <img src="~/images/swiatyniaramzesa.jpg" class="img-rounded" alt="paryż" height="350" width="320"> <br />
        </a>
        <div class="text-center">Afryka</div>
    </div>
    <div class="col-md-4">
        <a href="Places/Australia">
            <img src="~/images/sydney.jpg" class="img-rounded" alt="paryż" height="350" width="320"> <br />
        </a>
        <div class="text-center">Australia</div>
    </div>
</div>